<script src="~/Scripts/util/jsUtilCambioGuardia.js"></script>
@*<script src="~/Scripts/util/ColoresPersonalizados.js"></script>
    <script src="~/Scripts/plugin/dygraphs/dygraph-combined.min.js"></script>*@
<!--LIBRERIA PARA DATEPICKER-->
@*<link href="~/Content/plugin/datapicker/datepicker3.css" rel="stylesheet" />*@
<script src="~/Scripts/plugin/datapicker/bootstrap-datepicker.js"></script>
@*<script src="~/Scripts/plugin/bootstrap-duallistbox/jquery.bootstrap-duallistbox.min.js"></script>*@
<!--LIBRERIA PARA CARGA DE ARCHIVOS-->
<script src="~/Scripts/bootstrap-filestyle.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<script type="text/javascript">
    function anular(e) {

        tecla = (document.all) ? e.keyCode : e.which;
        return (tecla != 13);
    }
</script>

<style>

    .panel-group {
        margin-bottom: 0;
    }

        .panel-group .panel {
            border-radius: 0;
            box-shadow: none;
        }

            .panel-group .panel .panel-heading {
                padding: 0;
            }

                .panel-group .panel .panel-heading h4 a {
                    background: #D7F2DF;
                    display: block;
                    font-size: 12px;
                    font-weight: bold;
                    padding: 15px;
                    text-decoration: none;
                    transition: 0.15s all ease-in-out;
                }

                    .panel-group .panel .panel-heading h4 a:hover, .panel-group .panel .panel-heading h4 a:not(.collapsed) {
                        background: #fff;
                        transition: 0.15s all ease-in-out;
                    }

                        .panel-group .panel .panel-heading h4 a:not(.collapsed) i:before {
                            content: "‾";
                        }

                    .panel-group .panel .panel-heading h4 a i {
                        color: #999;
                    }

            .panel-group .panel .panel-body {
                padding-top: 0;
            }

            .panel-group .panel .panel-heading + .panel-collapse > .list-group,
            .panel-group .panel .panel-heading + .panel-collapse > .panel-body {
                border-top: none;
            }

            .panel-group .panel + .panel {
                border-top: none;
                margin-top: 0;
            }


    .colorAzul {
        background-color: #C2E1F8 !important;
        font-weight: bold !important;
    }

    .colorVerde {
        background-color: #ced !important;
    }

    .colorRojo {
        background-color: #FE8475;
    }

    .colorAmarillo {
        background-color: #FFDF6A;
    }

    /*#GrillaPuntosATratarArchivos .k-grid-content {
        max-height: 50vh;
    }

    #GrillaPuntosATratarArchivos th.k-header {
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        font-family: Arial;
    }*/


    /*.responstable {
      margin: 1em 0;
      width: 95%;
      overflow: hidden;
      background: #FFF;
      color: #024457;
      border-radius: 10px;
      border: 1px solid #167F92;
      text-align:center;
    }
    .responstable tr {
      border: 1px solid #D9E4E6;
    }
    .responstable tr:nth-child(odd) {
      background-color: #EAF3F3;
    }
    .responstable th {
      display: none;
      border: 1px solid #FFF;
      background-color: #167F92;
      color: #FFF;
      padding: 1em;
    }
    .responstable th:first-child {
      display: table-cell;
      text-align: center;
    }
    .responstable th:nth-child(2) {
      display: table-cell;
    }
    .responstable th:nth-child(2) span {
      display: none;
    }
    .responstable th:nth-child(2):after {
      content: attr(data-th);
    }

    .responstable td {
      display: block;
      word-wrap: break-word;
      max-width: 7em;
    }
    .responstable td:first-child {
      display: table-cell;
      text-align: center;
      border-right: 1px solid #D9E4E6;
    }

    .responstable th, .responstable td {
      text-align: left;
      margin: .5em 1em;
    }*/
    .swal2-popup {
        font-size: 1em !important;
    }
</style>


<div id="content">

    <div class="well" style="padding:0px 30px 10px 30px; background-color:white;">
        <div class="row wrapper">
            <div style="width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            text-align: center;
            align-items: center;
            ">
                <h2 title="Registro de Ticket"><i class="fa fa-bar-chart-o fa-fw"></i> [Cambio de Estado Ticket y Actividad]</h2>
                @*<button class="btn btn-primary" type="button" id="btnRegisterTicket" title="Registro de Ticket"><i class="fa fa-plus"></i> Registro de Ticket</button>*@
            </div>
        </div>

        <div class="row" style="margin-top: 10px;padding:0px 30px 10px 30px;">
            <form id="FrmFiltrosTicketCreado" onsubmit="return false" onkeypress="return anular(event)">

                <div class="row">

                    <div class="row">
                        <section class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
                            <div style="width: 100%;">
                                <input tabindex="7" type="radio" name="rdoRadioFilterSearchTicket" id="rdoTicket" checked="checked">
                                <label style="color: #2F4050;"><strong>Por Ticket </strong></label>
                                <input tabindex="7" type="radio" name="rdoRadioFilterSearchTicket" id="rdoActivity" style="margin-left:30px">
                                <label style="color: #2F4050"><strong>Por Actividad </strong></label>
                            </div>
                        </section>
                    </div>

                    <div class="row form-group">

                        <section class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                            <label style="color: #2F4050"><strong>Desde: </strong><strong class="CampoRequerido">*</strong></label>
                            <div class="input-group date">
                                <input type="text" class="form-control hasDatepicker" id="txtFechaInicioTicket" name="txtFechaInicioTicket" value="" data-dateformat="dd/mm/yy">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </section>

                        <section class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
                            <label style="color: #2F4050"><strong>Hasta: </strong><strong class="CampoRequerido">*</strong></label>
                            <div class="input-group date">
                                <input type="text" class="form-control hasDatepicker" id="txtFechaFinalTicket" name="txtFechaFinalTicket" value="" data-dateformat="dd/mm/yy">
                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
                            </div>
                        </section>

                        <section class="col-xs-12 col-sm-12 col-md-3 col-lg-3 ContainerSelectTicket">
                            <label style="color: #2F4050"><strong>Ticket: </strong></label>
                            <div class="form-group">
                                <select id="selectorTicket" class="selectpicker" multiple data-selected-text-format="count < 3" data-live-search="true" data-width="100%" data-size="5" title="Selección múltiple" data-actions-box="true"></select>
                            </div>
                        </section>

                        <section class="col-xs-12 col-sm-12 col-md-3 col-lg-4 ContainerSelectUsuarios hidden">
                            <label style="color: #2F4050"><strong> Usuarios : </strong></label>
                            <div class="form-group">
                                <select id="selectorUsuarios" class="selectpicker" multiple data-selected-text-format="count < 3" data-live-search="true" data-width="100%" data-size="5" title="Selección múltiple" data-actions-box="true"></select>
                            </div>
                        </section>

                        <section class="col-xs-12 col-sm-12 col-md-6 col-lg-2" style="margin-right:20px;margin-top:21px">
                            <div style="width: 100%; display:flex; flex-flow:row nowrap;">
                                <button style="margin:3px;" tabindex="9" class="btn btn-primary" type="submit" id="btnBuscar"><i class="fa fa-search"></i> Buscar</button>
                            </div>
                        </section>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div id="widget-grid">
        <div class="row">
            <article class="col-xs-12 ContenedorListTicket">

                <div class="jarviswidget jarviswidget-color-blue" id="wid-id-rga1" data-widget-editbutton="false" data-widget-custombutton="false" style="border: 2px solid #2F4050">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-list"></i> </span>
                        <h2>Listado de Tickets Completados</h2>
                        @*<button class="btn btn-success pull-right" type="button" id="BtnExportarExcelActivity" disabled title="Exportar listado a Excel"><i class="fa fa-file-excel-o"></i> Excel</button>*@
                    </header>
                    <div style="border:none;">
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <div class="widget-body no-padding" id="ContenedorgrPuntosATratarArchivos">
                            <div id="GrillaLstTicket" class="hidden"></div>
                            <div class="spiner-example" id="imgCargaLstTicket">
                                @Html.Partial("../MensajesParciales/_MensajeCargando")
                            </div>

                            <div class="hidden" id="msjErrorLstTicket" style="margin:30px;">
                                @Html.Partial("../MensajesParciales/_MensajeError")
                            </div>

                            <div class="hidden" id="msjVacioLstTicket" style="margin:30px;">
                                @Html.Partial("../MensajesParciales/_MensajeVacio")
                            </div>

                            <div class="hidden" id="msjErrorListarLstTicket" style="margin:30px;">
                                @Html.Partial("../MensajesParciales/_MensajeErrorListar")
                            </div>
                            <div class="hidden" id="msjSuperaLimiteLstTicket" style="margin:30px;">
                                @Html.Partial("../MensajesParciales/_MensajeLimiteGraficas")
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>

        <div class="row">
            <article class="col-xs-12 ContenedorListActivity hidden">

                <div class="jarviswidget jarviswidget-color-blue" id="wid-id-rga1" data-widget-editbutton="false" data-widget-custombutton="false" style="border: 2px solid #2F4050">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-list"></i> </span>
                        <h2>Listado de Actividades Completadas</h2>
                        @*<button class="btn btn-success pull-right" type="button" id="BtnExportarExcelActivity" disabled title="Exportar listado a Excel"><i class="fa fa-file-excel-o"></i> Excel</button>*@
                    </header>
                    <div style="border:none;">
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <div class="widget-body no-padding" id="">
                            <div id="GrillaLstActivity" class="hidden"></div>
                            <div class="spiner-example" id="imgCargaLstActivity">
                                @Html.Partial("../MensajesParciales/_MensajeCargando")
                            </div>

                            <div class="hidden" id="msjErrorLstActivity" style="margin:30px;">
                                @Html.Partial("../MensajesParciales/_MensajeError")
                            </div>

                            <div class="hidden" id="msjVacioLstActivity" style="margin:30px;">
                                @Html.Partial("../MensajesParciales/_MensajeVacio")
                            </div>

                            <div class="hidden" id="msjErrorListarLstActivity" style="margin:30px;">
                                @Html.Partial("../MensajesParciales/_MensajeErrorListar")
                            </div>
                            <div class="hidden" id="msjSuperaLimiteLstActivity" style="margin:30px;">
                                @Html.Partial("../MensajesParciales/_MensajeLimiteGraficas")
                            </div>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    </div>

</div>

<div id="ModalConfirmacion" class="modal inmodal fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Confirmación</h4>
            </div>
            <div class="modal-body clearfix" style="padding-left:10px; padding-right:10px; padding-top:0px;">
                <div>
                    <form id="frmConfirmacion" class="smart-form" onsubmit="return false">
                        <div>
                            <header>
                                <strong class="text-info" id="lblPreguntaConfirmar"></strong>
                            </header>
                            <fieldset>

                                <section class="col col-xs-12 no-padding">
                                    <label class="control-label">Comentario: </label>
                                    <div class="input-group" style="width:100%">
                                        <textarea rows="5" class="form-control" name="txtComentarios" id="txtComentarios" style="padding-left:5px; resize:none;"></textarea>
                                    </div>
                                </section>

                                <div class="col-md-12 text-center">
                                    <button id="BtnNoProcesar" type="button" class="btn btn-default btn-sm">
                                        NO
                                    </button>
                                    <button id="BtnSiProcesar" type="submit" class="btn btn-primary btn-sm">
                                        SI
                                    </button>
                                </div>
                            </fieldset>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>

<script>

    $(document).ready(function () {

        var ValueFilter = "RT";
        var IdTicketSelect = "0";
        var IdUsuariosSelect = "0";
        var IdTicketValue = 0;
        var IdActivityValue = 0;

        function FormatoFechas() {
            var FechaHoy = new Date();
            var FechaActual = new Date(FechaHoy.getFullYear(), FechaHoy.getMonth(), FechaHoy.getDate());

            $('#txtFechaInicioTicket').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: 'dd/mm/yyyy',
                endDate: FechaActual,
            });

            $('#txtFechaFinalTicket').datepicker({
                keyboardNavigation: false,
                forceParse: false,
                autoclose: true,
                format: 'dd/mm/yyyy',
                //endDate: FechaActual,
            });

            $("#txtFechaInicioTicket").datepicker("setDate", primerDiaMes);
            $("#txtFechaFinalTicket").datepicker("setDate", FechaFinalReporte);
        }

        function LimpiarEtiquetas() {

            document.getElementById("txtNroTicket").value = "";

            $("#selectorResponsableActivity").selectpicker('val', "");
            document.getElementById('selectorResponsableActivity').disabled = false;
            $("#selectorResponsableActivity").selectpicker('refresh');

            document.getElementById("txtActivityTicket").value = "";
            document.getElementById("txtDetalleActivity").value = "";

            $("#txtActivityDateEnd").datepicker("setDate", FechaFinalReporte);
        }

        function ComboTicket() {

           $.ajax({
               type: "GET", /*Puede ser post*/
               url: tRutaServidor + "/Ticket/ListarTicketCompletados", /* es importante poner los .. delante*/
               contentType: "application/json; charset=utf-8",
               //data:
               //     "IdOperation=" + 0,
               dataType: "json",
               success: function (resultado) {
           
                   var opcionesTicket = "";
           
                   /*exitosamente*/
                   if (resultado.length > 0) {
                       /* proceso exitoso con datos*/
           
                       if (resultado[0].ValorConsulta == "1") {
           
                           /**Llenar el combo con todo las compañías**/
                           for (i = 0; i < resultado.length; i++) {
           
                               opcionesTicket += "<option value='" + resultado[i].IdTicket + "'>" + resultado[i].NroTicket + "</option>";
                           }
           
                           $("#selectorTicket").empty();
                           $("#selectorTicket").append(opcionesTicket);
                           $("#selectorTicket").selectpicker('refresh');
           
                       }
                       else {
                           /*Error al listar*/
           
                       }
           
                   } else {
           
                   }
           
               },
               error: function (xhr, ajaxOptions, thrownError) {
                   /*Fallo al llamar funcion ajax*/
           
                   console.log("ERROR AJAX : " + ajaxOptions);
                   console.log("ERROR AJAX : " + thrownError);
                   console.log(xhr.responseText);
                   console.log(xhr);
           
               }
           });
        }

        function ComboEncargado() {

            $.ajax({
                type: "GET", /*Puede ser post*/
                url: tRutaServidor + "/Person/ListarPersonaTicket", /* es importante poner los .. delante*/
                contentType: "application/json; charset=utf-8",
                data:
                     "IdOperation=" + 1,
                dataType: "json",
                success: function (resultado) {

                    var opcionesPersonTicket = "";

                    /*exitosamente*/
                    if (resultado.length > 0) {
                        /* proceso exitoso con datos*/

                        if (resultado[0].ValorConsulta == "1") {

                            /**Llenar el combo con todo las compañías**/
                            for (i = 0; i < resultado.length; i++) {

                                opcionesPersonTicket += "<option value='" + resultado[i].IdPerson + "'>" + resultado[i].FullNameOperation+ "</option>";
                            }


                            $("#selectorUsuarios").empty();
                            $("#selectorUsuarios").append(opcionesPersonTicket);
                            $("#selectorUsuarios").selectpicker('refresh');


                        }
                        else {
                            /*Error al listar*/

                        }

                    } else {

                    }

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    /*Fallo al llamar funcion ajax*/

                    console.log("ERROR AJAX : " + ajaxOptions);
                    console.log("ERROR AJAX : " + thrownError);
                    console.log(xhr.responseText);
                    console.log(xhr);

                }
            });
        }

        function GrillaListadoTicket() {

            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: function (options) {
                        $.ajax({
                            type: "GET",
                            url: tRutaServidor + "/Ticket/ListarTicketsCompletados", /* es importante poner los .. delante*/
                            data: {
                                StartDate: $("#txtFechaInicioTicket").val(),
                                EndDate: $("#txtFechaFinalTicket").val(),
                                IdTickets: IdTicketSelect,
                            },
                            dataType: "json",
                            /*async: false,*/
                            success: function (resultado) {
                                /*exitosamente*/
                                if (resultado.length > 0) {
                                    /* proceso exitoso con datos*/
                                    if (resultado[0].ValorConsulta == "1") {
                                        $("#GrillaLstTicket").removeClass("hidden");
                                        $("#imgCargaLstTicket").addClass("hidden");
                                        $("#msjErrorLstTicket").addClass("hidden");
                                        $("#msjVacioLstTicket").addClass("hidden");
                                        $("#msjErrorListarLstTicket").addClass("hidden");
                                        $("#msjSuperaLimiteLstTicket").addClass("hidden");

                                        $("#btnBuscar").prop('disabled', false);
                                        $("#BtnExportarExcel").prop('disabled', false);

                                    } else if (resultado[0].ValorConsulta == "-1") {

                                        $("#GrillaLstTicket").addClass("hidden");
                                        $("#imgCargaLstTicket").addClass("hidden");
                                        $("#msjErrorLstTicket").addClass("hidden");
                                        $("#msjVacioLstTicket").addClass("hidden");
                                        $("#msjErrorListarLstTicket").addClass("hidden");
                                        $("#msjSuperaLimiteLstTicket").removeClass("hidden");

                                        $("#btnBuscar").prop('disabled', false);
                                        $("#BtnExportarExcel").prop('disabled', true);
                                    }
                                    else {
                                        /* proceso fallido catch listado datos*/
                                        $("#GrillaLstTicket").addClass("hidden");
                                        $("#imgCargaLstTicket").addClass("hidden");
                                        $("#msjErrorLstTicket").addClass("hidden");
                                        $("#msjVacioLstTicket").addClass("hidden");
                                        $("#msjErrorListarLstTicket").removeClass("hidden");
                                        $("#msjSuperaLimiteLstTicket").addClass("hidden");

                                        $("#btnBuscar").prop('disabled', true);
                                        $("#BtnExportarExcel").prop('disabled', true);
                                        console.log(resultado);
                                    }

                                } else {
                                    $("#GrillaLstTicket").addClass("hidden");
                                    $("#imgCargaLstTicket").addClass("hidden");
                                    $("#msjErrorLstTicket").addClass("hidden");
                                    $("#msjVacioLstTicket").removeClass("hidden");
                                    $("#msjErrorListarLstTicket").addClass("hidden");
                                    $("#msjSuperaLimiteLstTicket").addClass("hidden");

                                    $("#btnBuscar").prop('disabled', false);
                                    $("#BtnExportarExcel").prop('disabled', true);
                                }

                                options.success(resultado);
                                var grid = $("#GrillaLstTicket").data("kendoGrid");
                                if (grid.dataSource.total() > 0) {
                                    grid.setDataSource(dataSource);
                                }

                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                /*fallo al llamar a la funcion ajax*/
                                $("#GrillaLstTicket").addClass("hidden");
                                $("#imgCargaLstTicket").addClass("hidden");
                                $("#msjErrorLstTicket").removeClass("hidden");
                                $("#msjVacioLstTicket").addClass("hidden");
                                $("#msjErrorListarLstTicket").addClass("hidden");
                                $("#msjSuperaLimiteLstTicket").addClass("hidden");

                                $("#btnBuscar").prop('disabled', true);
                                $("#BtnExportarExcel").prop('disabled', true);
                                console.log("ERROR AJAX : " + ajaxOptions);
                                console.log("ERROR AJAX : " + thrownError);
                                console.log(xhr.responseText);
                                console.log(xhr);

                            }
                        });
                    },
                    parameterMap: function (data, operation) {
                        if (operation !== "read" && data.models) {
                            return JSON.stringify({ JSONparam: data.models });
                        }
                    }
                },
                error: function (e) {
                    alert("Status: " + e.status + "; Error message: " + e.errorThrown);
                },
                batch: false,
                pageSize: PaginationKendoGrid,
                schema: {
                    model: {
                        fields: {
                            IdTicket: { type: "number" },
                            NroTicket: { type: "string" },
                            StartDate: { type: "string" },
                            UsuarioNameTicket: { type: "string" },
                            ResponsibleNameTicket: { type: "string" },
                            FullNameTicket: { type: "string" },
                            OperationName: { type: "string" },
                            ReasonName: { type: "string" },
                            LocationNameTicket: { type: "string" },
                            CriticalityName: { type: "string" }, 
                            TitleDetalle: { type: "string" },
                            DetalleText: { type: "string" },
                            ResponsibleId: { type: "number" },
                            MigrationStatus: { type: "string" },
                        }
                    }
                },
                //aggregate: [
                //    {
                //        field: "TicketNumber",
                //        aggregate: "count"
                //    },
                //    {
                //        field: "FuelQuantity",
                //        aggregate: "sum"
                //    }
                //]
            });

            $("#GrillaLstTicket").kendoGrid({
                dataSource: dataSource,
                sortable: true,
                pageable: true,
                columnMenu: true,
                columnMenu: {
                    sortable: true,
                    filterable: true,
                    columns: true,
                    messages: {
                        columns: KendoMsjColumnMenuColumns,
                        filter: KendoMsjColumnMenuFilter,
                        sortAscending: KendoMsjColumnMenuSortAscending,
                        sortDescending: KendoMsjColumnMenuSortDescending,
                        settings: KendoMsjSettings
                    }
                },
                columnMenuInit: function (e) {
                    var menu = e.container.find(".k-menu").data("kendoMenu");
                    menu.bind("select", function (e) {
                        var EtiquetaInput = $(".k-animation-container > .k-menu-group > .k-item > .k-content > .k-filter-menu > .k-textbox :input");
                        EtiquetaInput.focus();
                    });
                },
                groupable: false,
                reorderable: true,
                selectable: "row",
                scrollable: true,
                resizable: true,
                filterable: {
                    multi: true,
                    checkAll: true,
                    search: true,
                    messages: {
                        clear: KendoMsjClear,
                        filter: KendoMsjFilter,
                        selectedItemsFormat: KendoMsjSelectedItemsFormat,
                        checkAll: KendoMsjCheckAll,
                        search: KendoMsjSearch
                    }
                },
                //groupable: {
                //    info: true,
                //    messages: {
                //        empty: "<b style='font-style:italic';>Arrastre una cabecera aquí para agrupar su información por esa columna</b>"
                //    }
                //},
                pageable: {
                    messages: {
                        empty: KendoMsjEmpty,
                        page: kendoMsjPage,
                        of: KendoMsjOf,
                        itemsPerPage: KendoMsjItemsPerPage,
                        first: KendoMsjFirst,
                        last: KendoMsjLast,
                        next: KendoMsjNext,
                        previous: KendoMsjPrevious,
                        refresh: KendoMsjRefresh,
                        morePages: KendoMsjMorePages,
                        display: KendoMsjDisplay
                    },
                    refresh: false,
                    pageSizes: true,
                    pageSizes: [5, 10, 15],
                    /*para la cantidad de paginas se sugieren 5*/
                    buttonCount: 5,
                    /*Posicion de la pagina*/
                    pageSize: 5
                },
                excel: { fileName: "Listado de Tickets Completados.xlsx", filterable: true, allPages: true },
                columns: [
                    {
                        width: 60,
                        command: {
                            template:
                                "<button class='btn-grid btn-xs BtnEdit' type='button' title='Editar Estado'><i class='fa fa-lg fa-fw fas fa-edit'></i></button>"
                            //+ " " + "<button class='btn-grid btn-xs BtnAnular' type='button' title='Ver datos'><i class='fa fa-lg fa-fw fas fa-ban'></i></button>"
                        },
                        attributes: { "class": "text-center" },
                        title: ""
                    },
                    { field: "NroTicket", title: "Nro. Ticket", width: 100, attributes: { "class": "text-center" } }, //hidden: true,
                    { field: "StartDate", title: "Fecha Registro", width: 120, attributes: { "class": "text-center" } },
                    { field: "TitleDetalle", title: "Titulo Detalle", width: 150, attributes: { "class": "text-center" } },
                    { field: "DetalleText", title: "Detalle Ticket", hidden: true, width: 150, attributes: { "class": "text-center" } },
                    { field: "OperationName", title: "Operacion", width: 120, attributes: { "class": "text-center" } },
                    { field: "FullNameTicket", title: "Quien Llama", width: 150, attributes: { "class": "text-center" } },
                    { field: "UsuarioNameTicket", title: "Quien Registra", hidden: true, width: 150, attributes: { "class": "text-center" } },
                    { field: "ResponsibleNameTicket", title: "Responsable", width: 150, attributes: { "class": "text-center" } },
                    { field: "ReasonName", title: "Razón", width: 120, attributes: { "class": "text-center" } },
                    { field: "CriticalityName", title: "Criticidad", width: 100, attributes: { "class": "text-center" } },
                    { field: "LocationNameTicket", title: "Locación", width: 120, hidden: true, attributes: { "class": "text-center" } },

                ]
                //dataBound: function () {

                    //var Grilla = this;


                    //for (i = 0; i < Grilla.dataSource._view.length; i++) {
                    //    var estadoActual = Grilla.tbody.children()[i].children[10].textContent;
                    //    if (estadoActual == 'BAJA') {
                    //        $($("#LstCreateTicket").data("kendoGrid").tbody.children()[i]).addClass('colorVerde');
                    //    }
                    //    else if (estadoActual == 'MEDIA') {
                    //        $($("#LstCreateTicket").data("kendoGrid").tbody.children()[i]).addClass('colorAmarillo');
                    //    }
                    //    else {
                    //        $($("#LstCreateTicket").data("kendoGrid").tbody.children()[i]).addClass('colorRojo');
                    //    }
                    //}
                //}
            });


        }

        function GrillaListadoActividades() {

            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: function (options) {
                        $.ajax({
                            type: "GET",
                            url: tRutaServidor + "/Activity/ListarActividadesCompletadas", /* es importante poner los .. delante*/
                            data: {
                                StartDate: $("#txtFechaInicioTicket").val(),
                                EndDate: $("#txtFechaFinalTicket").val(),
                                IdUsuarios: IdUsuariosSelect,
                            },
                            dataType: "json",
                            /*async: false,*/
                            success: function (resultado) {
                                /*exitosamente*/
                                if (resultado.length > 0) {
                                    /* proceso exitoso con datos*/
                                    if (resultado[0].ValorConsulta == "1") {

                                        $("#GrillaLstActivity").removeClass("hidden");
                                        $("#imgCargaLstActivity").addClass("hidden");
                                        $("#msjErrorLstActivity").addClass("hidden");
                                        $("#msjVacioLstActivity").addClass("hidden");
                                        $("#msjErrorListarLstActivity").addClass("hidden");
                                        $("#msjSuperaLimiteLstActivity").addClass("hidden");

                                        $("#btnBuscar").prop('disabled', false);
                                        $("#BtnExportarExcel").prop('disabled', false);

                                    } else if (resultado[0].ValorConsulta == "-1") {

                                        $("#GrillaLstActivity").addClass("hidden");
                                        $("#imgCargaLstActivity").addClass("hidden");
                                        $("#msjErrorLstActivity").addClass("hidden");
                                        $("#msjVacioLstActivity").addClass("hidden");
                                        $("#msjErrorListarLstActivity").addClass("hidden");
                                        $("#msjSuperaLimiteLstActivity").removeClass("hidden");

                                        $("#btnBuscar").prop('disabled', false);
                                        $("#BtnExportarExcel").prop('disabled', true);
                                    }
                                    else {
                                        /* proceso fallido catch listado datos*/
                                        $("#GrillaLstActivity").addClass("hidden");
                                        $("#imgCargaLstActivity").addClass("hidden");
                                        $("#msjErrorLstActivity").addClass("hidden");
                                        $("#msjVacioLstActivity").addClass("hidden");
                                        $("#msjErrorListarLstActivity").removeClass("hidden");
                                        $("#msjSuperaLimiteLstActivity").addClass("hidden");

                                        $("#btnBuscar").prop('disabled', true);
                                        $("#BtnExportarExcel").prop('disabled', true);
                                        console.log(resultado);
                                    }

                                } else {
                                    $("#GrillaLstActivity").addClass("hidden");
                                    $("#imgCargaLstActivity").addClass("hidden");
                                    $("#msjErrorLstActivity").addClass("hidden");
                                    $("#msjVacioLstActivity").removeClass("hidden");
                                    $("#msjErrorListarLstActivity").addClass("hidden");
                                    $("#msjSuperaLimiteLstActivity").addClass("hidden");

                                    $("#btnBuscar").prop('disabled', false);
                                    $("#BtnExportarExcel").prop('disabled', true);
                                }

                                options.success(resultado);
                                var grid = $("#GrillaLstActivity").data("kendoGrid");
                                if (grid.dataSource.total() > 0) {
                                    grid.setDataSource(dataSource);
                                }

                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                /*fallo al llamar a la funcion ajax*/
                                $("#GrillaLstActivity").addClass("hidden");
                                $("#imgCargaLstActivity").addClass("hidden");
                                $("#msjErrorLstActivity").removeClass("hidden");
                                $("#msjVacioLstActivity").addClass("hidden");
                                $("#msjErrorListarLstActivity").addClass("hidden");
                                $("#msjSuperaLimiteLstActivity").addClass("hidden");

                                $("#btnBuscar").prop('disabled', true);
                                $("#BtnExportarExcel").prop('disabled', true);
                                console.log("ERROR AJAX : " + ajaxOptions);
                                console.log("ERROR AJAX : " + thrownError);
                                console.log(xhr.responseText);
                                console.log(xhr);

                            }
                        });
                    },
                    parameterMap: function (data, operation) {
                        if (operation !== "read" && data.models) {
                            return JSON.stringify({ JSONparam: data.models });
                        }
                    }
                },
                error: function (e) {
                    alert("Status: " + e.status + "; Error message: " + e.errorThrown);
                },
                batch: false,
                pageSize: PaginationKendoGrid,
                schema: {
                    model: {
                        fields: {
                            NroTicket: { type: "string" },
                            //StartDate: { type: "string" },
                            //UsuarioNameTicket: { type: "string" },
                            //ResponsibleNameTicket: { type: "string" },
                            //FullNameTicket: { type: "string" },
                            OperationName: { type: "string" },
                            //ReasonName: { type: "string" },
                            //LocationNameTicket: { type: "string" },
                            //CriticalityName: { type: "string" },
                            TitleDescription: { type: "string" },
                            //DetalleText: { type: "string" },
                            //ResponsibleId: { type: "number" },
                            //MigrationStatus: { type: "string" },
                            /*--------------*/
                            IdActivity: { type: "number" },
                            //OldDifferenceDate: { type: "string" }, 
                            ////TitleDescription: { type: "string" },
                            ActivityText: { type: "string" },
                            FullNameActivity: { type: "string" },
                            //DescripcionActivity: { type: "string" },
                            FechaCierre: { type: "string" },
                            Estado: { type: "string" },
                            //ResponsibleId: { type: "number" },
                            //ValidationButton:{ type: "string" },
                        }
                    }
                },
                //aggregate: [
                //    {
                //        field: "TicketNumber",
                //        aggregate: "count"
                //    },
                //    {
                //        field: "FuelQuantity",
                //        aggregate: "sum"
                //    }
                //]
            });

            $("#GrillaLstActivity").kendoGrid({
                dataSource: dataSource,
                sortable: true,
                pageable: true,
                columnMenu: true,
                columnMenu: {
                    sortable: true,
                    filterable: true,
                    columns: true,
                    messages: {
                        columns: KendoMsjColumnMenuColumns,
                        filter: KendoMsjColumnMenuFilter,
                        sortAscending: KendoMsjColumnMenuSortAscending,
                        sortDescending: KendoMsjColumnMenuSortDescending,
                        settings: KendoMsjSettings
                    }
                },
                columnMenuInit: function (e) {
                    var menu = e.container.find(".k-menu").data("kendoMenu");
                    menu.bind("select", function (e) {
                        var EtiquetaInput = $(".k-animation-container > .k-menu-group > .k-item > .k-content > .k-filter-menu > .k-textbox :input");
                        EtiquetaInput.focus();
                    });
                },
                groupable: false,
                reorderable: true,
                selectable: "row",
                scrollable: true,
                resizable: true,
                filterable: {
                    multi: true,
                    checkAll: true,
                    search: true,
                    messages: {
                        clear: KendoMsjClear,
                        filter: KendoMsjFilter,
                        selectedItemsFormat: KendoMsjSelectedItemsFormat,
                        checkAll: KendoMsjCheckAll,
                        search: KendoMsjSearch
                    }
                },
                //groupable: {
                //    info: true,
                //    messages: {
                //        empty: "<b style='font-style:italic';>Arrastre una cabecera aquí para agrupar su información por esa columna</b>"
                //    }
                //},
                pageable: {
                    messages: {
                        empty: KendoMsjEmpty,
                        page: kendoMsjPage,
                        of: KendoMsjOf,
                        itemsPerPage: KendoMsjItemsPerPage,
                        first: KendoMsjFirst,
                        last: KendoMsjLast,
                        next: KendoMsjNext,
                        previous: KendoMsjPrevious,
                        refresh: KendoMsjRefresh,
                        morePages: KendoMsjMorePages,
                        display: KendoMsjDisplay
                    },
                    refresh: false,
                    pageSizes: true,
                    pageSizes: [5, 10, 15],
                    /*para la cantidad de paginas se sugieren 5*/
                    buttonCount: 5,
                    /*Posicion de la pagina*/
                    pageSize: 5
                },
                excel: { fileName: "Listado de Actividades Completados.xlsx", filterable: true, allPages: true },
                columns: [
                    {
                        width: 60,
                        command: {
                            template:
                                "<button class='btn-grid btn-xs BtnEdit' type='button' title='Editar Estado'><i class='fa fa-lg fa-fw fas fa-edit'></i></button>"
                            //+ " " + "<button class='btn-grid btn-xs BtnAnular' type='button' title='Ver datos'><i class='fa fa-lg fa-fw fas fa-ban'></i></button>"
                        },
                        attributes: { "class": "text-center" },
                        title: ""
                    },
                    { field: "NroTicket", title: "Nro. Ticket", width: 100, attributes: { "class": "text-center" } }, //hidden: true
                    { field: "OperationName", title: "Operacion", width: 120, attributes: { "class": "text-center" } },
                    { field: "TitleDescription", title: "Titulo Tickets", width: 150, attributes: { "class": "text-center" } },
                    { field: "ActivityText", title: "Actividad", width: 150, attributes: { "class": "text-center" } },
                    { field: "FullNameActivity", title: "Responsable", width: 150, attributes: { "class": "text-center" } },
                    { field: "FechaCierre", title: "Fecha Cierre", width: 150, attributes: { "class": "text-center" } },
                ]
                //dataBound: function () {

                    //var Grilla = this;


                    //for (i = 0; i < Grilla.dataSource._view.length; i++) {
                    //    var estadoActual = Grilla.tbody.children()[i].children[10].textContent;
                    //    if (estadoActual == 'BAJA') {
                    //        $($("#LstCreateTicket").data("kendoGrid").tbody.children()[i]).addClass('colorVerde');
                    //    }
                    //    else if (estadoActual == 'MEDIA') {
                    //        $($("#LstCreateTicket").data("kendoGrid").tbody.children()[i]).addClass('colorAmarillo');
                    //    }
                    //    else {
                    //        $($("#LstCreateTicket").data("kendoGrid").tbody.children()[i]).addClass('colorRojo');
                    //    }
                    //}
                //}
            });


        }

        function CambioEstadoTicket() {

            $.ajax({
                type: "POST",
                url: tRutaServidor + "/Ticket/ChangeStatus",
                dataType: "json",
                data: {
                    IdTicket : IdTicketValue,
                    Comentario : $("#txtComentarios").val(),
                },
                success: function (resultado) {

                    if (resultado == "1") {
                        //console.log(resultado);

                        ValueFilter = "RT";
                        IdTicketSelect = "0";

                        FormatoFechas();

                        $("#selectorTicket").empty();
                        $("#selectorTicket").append("");
                        $("#selectorTicket").selectpicker('refresh');
                        $("#selectorTicket").val('');

                        ComboTicket();
                        GrillaListadoTicket();

                        toastr.options.timeOut = nTiempoMedio;
                        toastr.options.extendedTimeOut = nTiempoMedio;
                        /*success - info - warning - error*/
                        var $toast = toastr["success"](tMensajeCreadoExito, tTituloExito); $toastlast = $toast;

                        $("#CargaTemporal").addClass("hidden");

                        $('#ModalConfirmacion').modal('hide');

                    } else if (resultado == '2') {
                        toastr.options.timeOut = nTiempoMedio;
                        toastr.options.extendedTimeOut = nTiempoMedio;
                        /*success - info - warning - error*/
                        var $toast = toastr["error"]("No se a podido guardar el comentario", tTituloError); $toastlast = $toast;
                        document.getElementById('btnGrabar').disabled = false;

                    } else if (resultado == '0') {
                        toastr.options.timeOut = nTiempoMedio;
                        toastr.options.extendedTimeOut = nTiempoMedio;
                        /*success - info - warning - error*/
                        var $toast = toastr["error"]("No se a podido editar el estado", tTituloError); $toastlast = $toast;
                        document.getElementById('btnGrabar').disabled = false;
                    } else {
                        toastr.options.timeOut = nTiempoMedio;
                        toastr.options.extendedTimeOut = nTiempoMedio;
                        /*success - info - warning - error*/
                        var $toast = toastr["error"]("No se a podido encontrar el ticket", tTituloError); $toastlast = $toast;
                        //console.log("Mensaje del error : " + resultado);
                    }

                    $("#CargaTemporal").addClass("hidden");

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    /*fallo al llamar a la funcion ajax*/
                    toastr.options.timeOut = nTiempoLargo;
                    toastr.options.extendedTimeOut = nTiempoLargo;
                    /*success - info - warning - error*/
                    var $toast = toastr["error"](tMensajeErrorConexion, tTituloErrorConexion); $toastlast = $toast;
                    console.log("ERROR AJAX : " + ajaxOptions);
                    console.log("ERROR AJAX : " + thrownError);
                    console.log(xhr.responseText);
                    console.log(xhr);

                }
            });

        };

        function CambioEstadoActivity() {

            $.ajax({
                type: "POST",
                url: tRutaServidor + "/Activity/ChangeStatus",
                dataType: "json",
                data: {
                    IdActivity : IdActivityValue,
                    Comentario : $("#txtComentarios").val(),
                },
                success: function (resultado) {

                    if (resultado == "1") {
                        //console.log(resultado);

                        ValueFilter = "RA";
                        IdActivityValue = "0";

                        FormatoFechas();

                        $("#selectorUsuarios").empty();
                        $("#selectorUsuarios").append("");
                        $("#selectorUsuarios").selectpicker('refresh');
                        $("#selectorUsuarios").val('');

                        ComboEncargado();
                        GrillaListadoActividades();

                        toastr.options.timeOut = nTiempoMedio;
                        toastr.options.extendedTimeOut = nTiempoMedio;
                        /*success - info - warning - error*/
                        var $toast = toastr["success"](tMensajeCreadoExito, tTituloExito); $toastlast = $toast;

                        $("#CargaTemporal").addClass("hidden");
                        $('#ModalConfirmacion').modal('hide');

                    } else if (resultado == '2') {
                        toastr.options.timeOut = nTiempoMedio;
                        toastr.options.extendedTimeOut = nTiempoMedio;
                        /*success - info - warning - error*/
                        var $toast = toastr["error"]("No se a podido guardar el comentario", tTituloError); $toastlast = $toast;
                        document.getElementById('btnGrabar').disabled = false;

                    } else if (resultado == '0') {
                        toastr.options.timeOut = nTiempoMedio;
                        toastr.options.extendedTimeOut = nTiempoMedio;
                        /*success - info - warning - error*/
                        var $toast = toastr["error"]("No se a podido editar el estado", tTituloError); $toastlast = $toast;
                        document.getElementById('btnGrabar').disabled = false;
                    } else {
                        toastr.options.timeOut = nTiempoMedio;
                        toastr.options.extendedTimeOut = nTiempoMedio;
                        /*success - info - warning - error*/
                        var $toast = toastr["error"]("No se a podido encontrar el ticket", tTituloError); $toastlast = $toast;
                        //console.log("Mensaje del error : " + resultado);
                    }

                    $("#CargaTemporal").addClass("hidden");

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    /*fallo al llamar a la funcion ajax*/
                    toastr.options.timeOut = nTiempoLargo;
                    toastr.options.extendedTimeOut = nTiempoLargo;
                    /*success - info - warning - error*/
                    var $toast = toastr["error"](tMensajeErrorConexion, tTituloErrorConexion); $toastlast = $toast;
                    console.log("ERROR AJAX : " + ajaxOptions);
                    console.log("ERROR AJAX : " + thrownError);
                    console.log(xhr.responseText);
                    console.log(xhr);

                }
            });

        };

        $('input[type=radio][name=rdoRadioFilterSearchTicket]').change(function (e) {

            if (e.target.id == 'rdoTicket') {
            
                ValueFilter = 'RT';
            
                $(".ContainerSelectTicket").removeClass("hidden");
                $(".ContainerSelectUsuarios").addClass("hidden");
                $(".ContenedorListTicket").removeClass("hidden");
                $(".ContenedorListActivity").addClass("hidden");

            } else if (e.target.id == 'rdoActivity') {
            
                ValueFilter = 'RA';
            
                $(".ContainerSelectTicket").addClass("hidden");
                $(".ContainerSelectUsuarios").removeClass("hidden");
                $(".ContenedorListTicket").addClass("hidden");
                $(".ContenedorListActivity").removeClass("hidden");
                
            }

        });

        $("#GrillaLstTicket").delegate(".BtnEdit", "click", function (e) {

            var grid = $("#GrillaLstTicket").data("kendoGrid");
            var myVar = grid.dataItem($(this).closest("tr"));

            document.getElementById("txtComentarios").value = "";

            var NroTicketValue = myVar.NroTicket;
            IdTicketValue = myVar.IdTicket;

            $("#lblPreguntaConfirmar").html("<p style='color:black' >El numero de ticket <span style='color:#F54848'>" + NroTicketValue + "</span> sera cambiado de estado <span style='color:#F54848'>Completado</span> a <span style='color:#F54848'>Pendiente</span>. Estas seguro de realizar ese cambio?</p>");
            $('#ModalConfirmacion').modal('show');
        });

        $("#GrillaLstActivity").delegate(".BtnEdit", "click", function (e) {

            var grid = $("#GrillaLstActivity").data("kendoGrid");
            var myVar = grid.dataItem($(this).closest("tr"));

            document.getElementById("txtComentarios").value = "";

            var NroTicketValue = myVar.NroTicket;
            IdActivityValue = myVar.IdActivity;

            $("#lblPreguntaConfirmar").html("<p style='color:black'>La actividad con el numero de ticket <span style='color:#F54848'>" + NroTicketValue + "</span> sera cambiado de estado <span style='color:#F54848'>Completado</span> a <span style='color:#F54848'>Pendiente</span>. Estas seguro de realizar ese cambio?</p>");
            $('#ModalConfirmacion').modal('show');

        });

        $("#btnBuscar").click(function () {

            if (ValueFilter == 'RT') {

                if ($("#selectorTicket").val() == "" || $("#selectorTicket").val() == null || $("#selectorTicket").val() == undefined) {
                    toastr.options.timeOut = nTiempoCorto;
                    toastr.options.extendedTimeOut = nTiempoCorto;
                    /*success - info - warning - error*/
                    var $toast = toastr["error"]("Es necesario seleccionar un Ticket", tTituloError); $toastlast = $toast;
                    return;
                } else {

                    $("#GrillaLstTicket").addClass("hidden");
                    $("#imgCargaLstTicket").removeClass("hidden");
                    $("#msjErrorLstTicket").addClass("hidden");
                    $("#msjVacioLstTicket").addClass("hidden");
                    $("#msjErrorListarLstTicket").addClass("hidden");
                    $("#msjSuperaLimiteLstTicket").addClass("hidden");


                    if ($("#selectorTicket").val() == "" || $("#selectorTicket").val() == null || $("#selectorTicket").val() == undefined) {
                    
                        IdTicketSelect = "0";
                    
                    } else {

                        IdTicketSelect = $("#selectorTicket").val().toString();

                    }

                    GrillaListadoTicket();
                }

            } else if (ValueFilter == 'RA') {

                if ($("#selectorUsuarios").val() == "" || $("#selectorUsuarios").val() == null || $("#selectorUsuarios").val() == undefined) {
                    toastr.options.timeOut = nTiempoCorto;
                    toastr.options.extendedTimeOut = nTiempoCorto;
                    /*success - info - warning - error*/
                    var $toast = toastr["error"]("Es necesario seleccionar un Ticket", tTituloError); $toastlast = $toast;
                    return;
                } else {

                    $("#GrillaLstActivity").addClass("hidden");
                    $("#imgCargaLstActivity").removeClass("hidden");
                    $("#msjErrorLstActivity").addClass("hidden");
                    $("#msjVacioLstActivity").addClass("hidden");
                    $("#msjErrorListarLstActivity").addClass("hidden");
                    $("#msjSuperaLimiteLstActivity").addClass("hidden");

                    if ($("#selectorUsuarios").val() == "" || $("#selectorUsuarios").val() == null || $("#selectorUsuarios").val() == undefined) {
                    
                        IdUsuariosSelect = "0";
                    
                    } else {

                        IdUsuariosSelect = $("#selectorUsuarios").val().toString();

                    }

                    GrillaListadoActividades();
                }

            }

           
            //GrillaListadoBuscarUsuario();
            //ListarActiviadesTodas();
        });

        $("#BtnSiProcesar").click(function () {

            if (ValueFilter == 'RT') {

                Swal.fire({
                title: 'Estas seguro de Editar el Estado del Ticket?',
                text: "Ya no podras revertirlo!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si, deseo Editar!'
                }).then((result) => {
                    if (result.isConfirmed) {
                
                        CambioEstadoTicket();
                
                    } else {
                
                
                
                    }
                });

            } else if(ValueFilter == 'RA'){

                Swal.fire({
                title: 'Estas seguro de Editar el Estado de la Actividad?',
                text: "Ya no podras revertirlo!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Si, deseo Editar!'
                }).then((result) => {
                    if (result.isConfirmed) {
                
                        CambioEstadoActivity();
                
                    } else {
                
                
                
                    }
                });
            }
        });

        $("#BtnNoProcesar").click(function () {

            document.getElementById("txtComentarios").value = "";
            $('#ModalConfirmacion').modal('hide');

        });

        FormatoFechas();
        ComboTicket();
        ComboEncargado();
        GrillaListadoTicket();
        GrillaListadoActividades();
    });

</script>