
<script src="~/Scripts/util/jsUtilCambioGuardia.js"></script>
<link href="~/Content/plugin/awesome-bootstrap-checkbox/awesome-bootstrap-checkbox.css" rel="stylesheet" />
<link href="~/Content/plugin/datapicker/datepicker3.css" rel="stylesheet" />
<script src="~/Scripts/plugin/datapicker/bootstrap-datepicker.js"></script>

<div id="content">

    <div class="well" style="padding:0px 30px 10px 30px; background-color:white;">
        <div class="row wrapper">
            <div style="width: 100%; display:flex; flex-direction:row; flex-wrap:nowrap; justify-content:space-between; text-align:center; align-items:center;">
                <section class="col-xs-12 col-md-9" style="display:flex; flex-flow: row nowrap">
                    <h2><i class="fa fa-edit fa-fw"></i> Configuración Clave</h2>
                    <i class="icon-append fa fa-info-circle pull-left" style="color:blue; cursor:pointer; font-size:20px; margin-top:28px; margin-left:5px;" id="btnInformacion"></i>
                </section>               
            </div>
          
        </div>

        <div class="row" style="margin-top: 10px;">

            <section class="col-xs-9 col-sm-8 col-md-5" style="margin-left:0px; padding-left:0px; margin-right:0px; padding-right:0px;">
                <div class="input-group">
                    <input class="form-control" id="txtBuscarValor" type="text" maxlength="150" placeholder="Buscar...">
                    <div class="input-group-btn">
                        <button class="btn btn-primary" type="button" id="btnBuscar" disabled><i class="icon-append fa fa-search"></i></button>
                    </div>
                </div>
            </section>

            <section class="col-xs-12 col-sm-5 col-md-4 col-lg-4" style="margin-left:0px; padding-left:20px; margin-right:0px; padding-right:0px; padding-top:5px;">
                <div class="input-group">
                    <section class="radio radio-info radio-inline">
                        <input tabindex="7" type="radio" name="RrbTipo" id="RrbActivos" disabled checked="checked">
                        <label for="RrbActivos"> Activos </label>
                    </section>
                    <section class="radio radio-info radio-inline">
                        <input tabindex="7" type="radio" name="RrbTipo" id="RrbInactivos" disabled>
                        <label for="RrbInactivos"> Inactivos </label>
                    </section>
                </div>
            </section>

            <section class="col-xs-3 col-sm-4 col-md-7" style="margin-left:0px; padding-left:0px; margin-right:0px; padding-right:0px;">
                <button class="btn btn-success pull-right" type="button" id="BtnExportarExcel" disabled title="Exportar listado a Excel"><i class="fa fa-file-excel-o"></i> Excel</button>
            </section>
        </div>
    </div>


    <div id="widget-grid">

        <div class="row">
            <!--Grilla de Usuarios-->
            <article class="col-xs-12">

                <div class="jarviswidget jarviswidget-color-blue" id="wid-id-usuario" data-widget-editbutton="false" data-widget-custombutton="false" style="border: 2px solid #2F4050">
                    <header>
                        <span class="widget-icon"> <i class="fa fa-list"></i> </span>
                        <h2>Listado de Usuario</h2>
                    </header>
                    <div style="border:none;">
                        <div class="jarviswidget-editbox">
                            <!-- This area used as dropdown edit box -->
                        </div>
                        <div class="widget-body no-padding">

                            <div id="GrillaUsuario" class="hidden"></div>
                            <div class="spiner-example" id="ImagenCarga">
                                @Html.Partial("../MensajesParciales/_MensajeCargando")
                            </div>

                            <div class="hidden" id="MensajeError" style="margin:30px;">
                                @Html.Partial("../MensajesParciales/_MensajeError")
                            </div>

                            <div class="hidden" id="MensajeVacio" style="margin:30px;">
                                @Html.Partial("../MensajesParciales/_MensajeVacio")
                            </div>

                            <div class="hidden" id="MensajeErrorListar" style="margin:30px;">
                                @Html.Partial("../MensajesParciales/_MensajeErrorListar")
                            </div>

                        </div>
                    </div>
                </div>
            </article>

        </div>

    </div>

</div>

<div id="ModalUsuario" class="modal inmodal fade" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Cambio Clave Usuario</h4>
            </div>
            <div class="modal-body clearfix" style="padding-left:10px; padding-right:10px;">
                <form id="FrmUsuario" onsubmit="return false">

                    <section class="col-xs-12">
                        <label style="color: #2F4050">Usuario: </label>
                        <div class="input-group">
                            <input type="text" tabindex="1" class="form-control" name="txtUsuario" id="txtUsuario" style="padding-left:5px;" />
                            <span class="input-group-addon"><i class="icon-prev fa fa-user"></i></span>
                        </div>
                    </section>

                    <section class="col-xs-12">
                        <label style="color: #2F4050">Clave: <strong class="CampoRequerido">*</strong></label>
                        <div class="input-group">
                            <input type="password" tabindex="1" autocomplete="off" placeholder="Nueva clave" class="form-control" name="txtclave" id="txtclave" maxlength="50" style="padding-left:5px;" />
                            <span class="input-group-addon"><i class="icon-prev fa fa-edit"></i></span>
                        </div>
                    </section>

                    <section class="col-xs-12" style="display:flex; flex-direction:row; flex-wrap:wrap; justify-content:space-between">
                        <div style="margin-top:10px; display:flex; flex-direction:row; flex-wrap:wrap; justify-content:flex-start">
                            @Html.Partial("../MensajesParciales/_MensajeLeyendaCampoRequerido")
                        </div>
                        <div style="margin-top:10px; display:flex; flex-direction:row; flex-wrap:wrap; justify-content:flex-end">
                            <button style="margin:3px;" tabindex="8" class="btn btn-danger" type="button" id="btnCancelar"><i class="fa fa-times-circle"></i> Cancelar</button>
                            <button style="margin:3px;" tabindex="9" class="btn btn-primary" type="submit" id="btnGrabar"><i class="fa fa-save"></i> Grabar</button>
                        </div>
                    </section>
                </form>
            </div>
        </div>
    </div>

</div>

<div id="modalInformativo" class="modal inmodal fade" tabindex="-1" role="dialog" aria-hidden="true">

    <div class="modal-dialog" style="width:50%">
        <div class="modal-content animated">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Notas <i class="icon-append fa fa-info-circle" style="color:blue; width:15px; height:15px;"></i></h4>
            </div>
            <div class="modal-body clearfix" style="padding-left:10px; padding-right:10px;">
                <div id="notas"></div>
            </div>
        </div>
    </div>
</div>
</div>



<script type="text/javascript">
    $(document).ready(function () {

        function ValidarCaracter(cadenaAnalizar) {
            var flag = false;
            var CampoNoValidos = "<>";
            for (var i = 0; i < cadenaAnalizar.length; i++) {

                var caracter = cadenaAnalizar.charAt(i);
                flag = false;
                for (var y = 0; y < CampoNoValidos.length; y++) {
                    var CaracterValido = CampoNoValidos.charAt(y);
                    if (caracter == CaracterValido) {
                        flag = true;
                        break;
                    }
                }

                if (flag == true) {
                    flag = true;
                    break;
                }
            }
            return flag;
        }



        /*----------------------------------------------------------------------------------------------- VARIABLES*/
        var idUser = 0;
        var username = '';

        var EstadoRegistro = '1';
        var htmlBody = "<button class='btn-grid btn-xs BtnEditarClave' type='button' title='Editar'><i class='fa fa-lg fa-fw fa-edit'></i></button>" + " " +
                                "<button class='btn-grid btn-xs BtnReseteo' type='button' title='Resetear'><i class='fa fa-lg fa-fw fa-refresh'></i></button>";
        /*----------------------------------------------------------------------------------------------- GRILLAS*/
        function GrillaListadoUser() {

            var dataSource = new kendo.data.DataSource({
                transport: {
                    read: function (options) {
                        $.ajax({
                            type: "GET", /*Puede ser post*/
                            url: tRutaServidor + "/User/ListarUser", /* es importante poner los .. delante*/
                            contentType: "application/json; charset=utf-8",
                            data: "valorBusqueda=" + $("#txtBuscarValor").val().trim() + "&valorConsulta=" + EstadoRegistro,
                            dataType: "json",
                            /*async: false,*/
                            success: function (resultado) {

                                /*exitosamente*/
                                if (resultado.length > 0) {
                                    /* proceso exitoso con datos*/
                                    if (resultado[0].ValorConsulta == "1") {
                                        $("#ImagenCarga").addClass("hidden");
                                        $("#GrillaUsuario").removeClass("hidden");
                                        $("#MensajeError").addClass("hidden");
                                        $("#MensajeErrorListar").addClass("hidden");
                                        $("#MensajeVacio").addClass("hidden");

                                        $("#BtnExportarExcel").prop('disabled', false);
                                        $("#btnBuscar").prop('disabled', false);
                                        $("#btnNuevo").prop('disabled', false);
                                        $("#RrbActivos").prop('disabled', false);
                                        $("#RrbInactivos").prop('disabled', false);

                                    } else {
                                        /* proceso fallido catch listado datos*/
                                        $("#ImagenCarga").addClass("hidden");
                                        $("#GrillaUsuario").addClass("hidden");
                                        $("#MensajeError").addClass("hidden");
                                        $("#MensajeErrorListar").removeClass("hidden");
                                        $("#MensajeVacio").addClass("hidden");


                                        $("#BtnExportarExcel").prop('disabled', true);
                                        $("#btnBuscar").prop('disabled', true);
                                        $("#btnNuevo").prop('disabled', true);
                                        $("#RrbActivos").prop('disabled', true);
                                        $("#RrbInactivos").prop('disabled', true);
                                    }

                                } else {
                                    $("#ImagenCarga").addClass("hidden");
                                    $("#GrillaUsuario").addClass("hidden");
                                    $("#MensajeError").addClass("hidden");
                                    $("#MensajeVacio").removeClass("hidden");
                                    $("#MensajeErrorListar").addClass("hidden");

                                    $("#btnBuscar").prop('disabled', false);
                                    $("#btnNuevo").prop('disabled', false);
                                    $("#BtnExportarExcel").prop('disabled', true);
                                    $("#RrbActivos").prop('disabled', false);
                                    $("#RrbInactivos").prop('disabled', false);

                                }
                                options.success(resultado);
                                var grid = $("#GrillaUsuario").data("kendoGrid");
                                if (grid.dataSource.total() > 0) {
                                    grid.setDataSource(dataSource);
                                }
                            },
                            error: function (xhr, ajaxOptions, thrownError) {
                                /*fallo al llamar a la funcion ajax*/
                                $("#ImagenCarga").addClass("hidden");
                                $("#GrillaUsuario").addClass("hidden");
                                $("#MensajeError").removeClass("hidden");
                                $("#MensajeVacio").addClass("hidden");
                                $("#MensajeErrorListar").addClass("hidden");


                                $("#BtnExportarExcel").prop('disabled', true);
                                $("#btnBuscar").prop('disabled', true);
                                $("#btnNuevo").prop('disabled', true);
                                $("#RrbActivos").prop('disabled', true);
                                $("#RrbInactivos").prop('disabled', true);


                                console.log("ERROR AJAX : " + ajaxOptions);
                                console.log("ERROR AJAX : " + thrownError);
                                console.log(xhr.responseText);
                                console.log(xhr);

                            }
                        });
                    },
                    parameterMap: function (data, operation) {
                        if (operation !== "read" && data.models) {
                            return JSON.stringify({ JSONparam: data.models });
                        }
                    }
                },
                error: function (e) {
                    alert("Status: " + e.status + "; Error message: " + e.errorThrown);
                },
                batch: false,
                pageSize: PaginationKendoGrid,
                schema: {
                    model: {
                        fields: {
                            IdUser: { type: "number" },                           
                            UUser: { type: "string" },                          
                            RegistrationStatus: { type: "string" },
                            RegistrationStatusDesc: { type: "string" },
                            UpdateDate: { type: "date" }, //FECHA ACTUALIZACION
                            UserDesc: { type: "string" }, //USUARIO ACTUALIZACION
                            RegistrationDate: { type: "date" }, //FECHA REGISTRO
                            UserRegistrationDesc: { type: "string" } //USUARIO REGISTRO
                        }
                    }
                }
            });

            $("#GrillaUsuario").kendoGrid({
                dataSource: dataSource,
                sortable: true,
                pageable: true,
                columnMenu: true,
                columnMenu: {
                    columns: true,
                    filterable: true,
                    sortable: true,
                    messages: {
                        columns: KendoMsjColumnMenuColumns,
                        filter: KendoMsjColumnMenuFilter,
                        sortAscending: KendoMsjColumnMenuSortAscending,
                        sortDescending: KendoMsjColumnMenuSortDescending,
                        settings: KendoMsjSettings
                    }
                },
                columnMenuInit: function (e) {
                    var menu = e.container.find(".k-menu").data("kendoMenu");
                    menu.bind("select", function (e) {
                        var EtiquetaInput = $(".k-animation-container > .k-menu-group > .k-item > .k-content > .k-filter-menu > .k-textbox :input");
                        EtiquetaInput.focus();
                    });
                },
                groupable: false,
                reorderable: true,
                selectable: "row",
                scrollable: true,
                resizable: true,
                filterable: {
                    multi: true,
                    checkAll: true,
                    search: true,
                    messages: {
                        clear: KendoMsjClear,
                        filter: KendoMsjFilter,
                        selectedItemsFormat: KendoMsjSelectedItemsFormat,
                        checkAll: KendoMsjCheckAll,
                        search: KendoMsjSearch
                    }
                },
                pageable: {
                    refresh: false,
                    pageSize: 10,
                    pageSizes: true,
                    pageSizes: [5, 10, 15],
                    buttonCount: 5,
                    messages: {
                        empty: KendoMsjEmpty,
                        page: kendoMsjPage,
                        of: KendoMsjOf,
                        itemsPerPage: KendoMsjItemsPerPage,
                        first: KendoMsjFirst,
                        last: KendoMsjLast,
                        next: KendoMsjNext,
                        previous: KendoMsjPrevious,
                        refresh: KendoMsjRefresh,
                        morePages: KendoMsjMorePages,
                        display: KendoMsjDisplay
                    }
                },
                excel: { fileName: "Listado de Usuarios.xlsx", filterable: true, allPages: true },
                columns: [
                    {
                        width: 130,
                        command: {
                            template: htmlBody,
                        },
                        attributes: { "class": "text-center" },
                        title: ""
                    },
                    { field: "UUser", title: "Usuario", width: 300, attributes: { "class": "text-center" } },                    
                    { field: "RegistrationStatusDesc", title: "Estado", width: 180, attributes: { "class": "text-center" } },
                    { field: "UpdateDate", title: "Fecha de Actualización", hidden: true, width: 250, format: "{0:dd/MM/yyyy HH:mm:ss}", attributes: { "class": "text-center" } },
                    { field: "UserDesc", title: "Usuario de Actualización", hidden: true, width: 250, attributes: { "class": "text-center" } },
                    { field: "RegistrationDate", title: "Fecha de Registro", hidden: true, width: 250, format: "{0:dd/MM/yyyy HH:mm:ss}", attributes: { "class": "text-center" } },
                    { field: "UserRegistrationDesc", title: "Usuario de Registro", hidden: true, width: 250, attributes: { "class": "text-center" } }
                ],
                dataBound: function () {

                    var Grilla = this;
                    Grilla.tbody.find("tr[role='row']").each(function () {
                        var model = Grilla.dataItem(this);
                        //console.log(model);
                        if (model.RegistrationStatus == "I") {
                            $(this).find("td > button.BtnReseteo > i").removeClass("fa-refresh");
                            $(this).find("td > button.BtnReseteo > i").addClass("fa-refresh");
                            $(this).find("td > button.BtnReseteo").addClass("Color-gris");
                            $(this).find("td > button.BtnReseteo").removeClass("bg-color-blueDark");

                        } else if (model.RegistrationStatus == "A") {
                            $(this).find("td > button.BtnReseteo > i").removeClass("fa-refresh");
                            $(this).find("td > button.BtnReseteo > i").addClass("fa-refresh");
                        }
                    });
                }
            });

        }
     
        /*----------------------------------------------------------------------------------------------- FUNCIONES GUARDAR/ACTUALIZAR/ELIMINAR ETC*/
      
        function EditarClave() {

            var txtClave = $("#txtclave").val().trim();
           
            $("#CargaTemporal").removeClass("hidden");
            $.ajax({
                type: "POST",
                url: tRutaServidor + "/User/CambiarClaveOReseteo",
                dataType: "json",
                data:  "IdUser=" + idUser
                        + "&claveNueva=" + txtClave,
                success: function (resultado) {
                    if (resultado == "1") {
                        $("#CargaTemporal").addClass("hidden");
                        $('#ModalUsuario').modal('hide');
                        toastr.options.timeOut = nTiempoMedio;
                        toastr.options.extendedTimeOut = nTiempoCorto;
                        /*success - info - warning - error*/
                        var $toast = toastr["success"](tMensajeActualizadoExito, tTituloExito); $toastlast = $toast;

                        $("#ImagenCarga").removeClass("hidden");
                        $("#GrillaUsuario").addClass("hidden");
                        $("#MensajeError").addClass("hidden");
                        $("#MensajeErrorListar").addClass("hidden");
                        $("#MensajeVacio").addClass("hidden");

                        $("#BtnExportarExcel").prop('disabled', true);
                        $("#btnBuscar").prop('disabled', true);                        
                        $("#RrbActivos").prop('disabled', true);
                        $("#RrbInactivos").prop('disabled', true);

                        $("#txtBuscarValor").val("");

                        $("#GrillaUsuario").data("kendoGrid").dataSource.read();

                    } else if (resultado == "2") {
                        $("#CargaTemporal").addClass("hidden");
                        toastr.options.timeOut = nTiempoMedio;
                        toastr.options.extendedTimeOut = nTiempoMedio;
                        /*success - info - warning - error*/
                        var $toast = toastr["error"](tValidacionUsuarioNoExiste, tTituloError); $toastlast = $toast;
                    }  else if (resultado == "0") {
                        $("#CargaTemporal").addClass("hidden");
                        toastr.options.timeOut = nTiempoMedio;
                        toastr.options.extendedTimeOut = nTiempoMedio;
                        /*success - info - warning - error*/
                        var $toast = toastr["error"](tMensajeErrorDesconocido, tTituloError); $toastlast = $toast;
                        console.log("Mensaje del error : " + resultado)
                    } else {
                        $("#CargaTemporal").addClass("hidden");
                        toastr.options.timeOut = nTiempoMedio;
                        toastr.options.extendedTimeOut = nTiempoMedio;
                        /*success - info - warning - error*/
                        var $toast = toastr["error"](tMensajeErrorDesconocido, tTituloError); $toastlast = $toast;
                        console.log("Mensaje del error : " + resultado)
                    }

                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $("#CargaTemporal").addClass("hidden");
                    /*fallo al llamar a la funcion ajax*/
                    toastr.options.timeOut = nTiempoLargo;
                    toastr.options.extendedTimeOut = nTiempoLargo;
                    /*success - info - warning - error*/
                    var $toast = toastr["error"](tMensajeErrorConexion, tTituloErrorConexion); $toastlast = $toast;
                    console.log("ERROR AJAX : " + ajaxOptions);
                    console.log("ERROR AJAX : " + thrownError);
                    console.log(xhr.responseText);
                    console.log(xhr);
                }
            });
        }
       
      

        /*----------------------------------------------------------------------------------------------- ADICIONALES*/
     

        function ExportarExcel(Etiqueta) {
            var Grilla = $("#" + Etiqueta).data("kendoGrid");
            swal({
                title: tTituloExportarExcel,
                text: tMensajeExportarExcel,
                type: "warning"
            });
            Grilla.saveAsExcel();
        };
     
        /*----------------------------------------------------------------------------------------------- ASIGNAR FUNCIONES*/

        $("#btnGrabar").click(function () {

            $.validator.addMethod("regx", function (value, element, regexpr) {
                return regexpr.test(value);
            }, "Caracteres invalidos");

            var $registerForm = $("#FrmUsuario").validate({
                rules: {
                    clave: {
                        required: true,
                        minlength: 3,
                        maxlength: 20,
                        regx: RePassword
                    }
                },
                messages: {
                    clave: {
                        required: tCampoRequerido,
                        minlength: tMinLength,
                        maxlength: tMaxLength,
                        regx: tCaracteresNoValido
                    }
                },
                submitHandler: function (form) {
                    
                        EditarClave();
                },

                errorPlacement: function (error, element) {
                    error.insertAfter(element.parent());
                }
            });


        });



        $("#btnBuscar").click(function () {

            var valorAnalizar = $('#txtBuscarValor').val();
            if (ValidarCaracter(valorAnalizar) == true) {
                toastr.options.timeOut = nTiempoLargo;
                toastr.options.extendedTimeOut = nTiempoLargo;
                /*success - info - warning - error*/
                var $toast = toastr["error"](tCaracteresNoValido, tTituloError); $toastlast = $toast;
            } else {

               
                $("#btnBuscar").prop('disabled', true);
                $("#BtnExportarExcel").prop('disabled', true);
                $("#RrbActivos").prop('disabled', true);
                $("#RrbInactivos").prop('disabled', true);

                $("#ImagenCarga").removeClass("hidden");
                $("#GrillaUsuario").addClass("hidden");
                $("#MensajeError").addClass("hidden");
                $("#MensajeErrorListar").addClass("hidden");
                $("#MensajeVacio").addClass("hidden");

                var Grilla = $("#GrillaUsuario").data("kendoGrid");
                Grilla.one("dataBound", function () {
                    this.dataSource.page(1);
                });

                $("#GrillaUsuario").data("kendoGrid").dataSource.read();
            }
        });

        $("#BtnExportarExcel").click(function () {
            ExportarExcel("GrillaUsuario");
        });

        $("#btnCancelar").click(function () {
            $('#ModalUsuario').modal('hide');
        });


        /*----------------------------------------------------------------------------------------------- ASIGNAR FUNCIONES GRILLA*/

        $("#GrillaUsuario").delegate(".BtnEditarClave", "click", function (e) {

            var grid = $("#GrillaUsuario").data("kendoGrid");
            var myVar = grid.dataItem($(this).closest("tr"));

            idUser = myVar.IdUser;
            username = myVar.UUser;
            $("#txtUsuario").val(username);
            $("#txtclave").val("");
            $("#txtUsuario").prop('disabled', true);
            $("#ModalUsuario").modal("show");

        });

        $("#GrillaUsuario").delegate(".BtnReseteo", "click", function (e) {

            var grid = $("#GrillaUsuario").data("kendoGrid");
            var myVar = grid.dataItem($(this).closest("tr"));

            idUser = myVar.IdUser;
            username = myVar.UUser;           
            $("#txtclave").val(DefaultPassword);
           
            swal({
                title: tTituloConfirmacion,
                text: tMensajeConfirmacionPassword,
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: tColorBoton,
                confirmButtonText: tNombreBotonSi,
                cancelButtonText: tNombreBotonNo,
                closeOnConfirm: true
            }, function () {
                EditarClave();
            });
        });

        $("#btnInformacion").click(function () {

            var cuerpoInicio = "<li style='font-weight:bold; font-size:17px;'>Consideraciones en el módulo de Configuración de Clave:</li><br>" +

                   "<i>* En este módulo se puede actualizar la clave de los usuarios que se encuentran registrados en el sistema.</i> <br>" +
                   "<i>* En este módulo se puede asignar una clave por defecto dando clic en el botón resetear. La clave por defecto es: 123456.</i> <br>";

            $("#notas").html(cuerpoInicio);
            $("#modalInformativo").modal("show");
        });


        $('input[type=radio][name=RrbTipo]').change(function (e) {

            if (e.target.id == 'RrbActivos') {

                EstadoRegistro = '1';
                htmlBody = "<button class='btn-grid btn-xs BtnEditarClave' type='button' title='Editar'><i class='fa fa-lg fa-fw fa-edit'></i></button>" + " " +
                                "<button class='btn-grid btn-xs BtnReseteo' type='button' title='Resetear'><i class='fa fa-lg fa-fw fa-refresh'></i></button>";

                var valorAnalizar = $('#txtBuscarValor').val();
                if (ValidarCaracter(valorAnalizar) == true) {
                    toastr.options.timeOut = nTiempoLargo;
                    toastr.options.extendedTimeOut = nTiempoLargo;
                    /*success - info - warning - error*/
                    var $toast = toastr["error"](tCaracteresNoValido, tTituloError); $toastlast = $toast;
                } else {
                    $("#BtnExportarExcel").prop('disabled', true);
                    $("#btnBuscar").prop('disabled', true);
                    $("#btnNuevo").prop('disabled', true);
                    $("#RrbActivos").prop('disabled', true);
                    $("#RrbInactivos").prop('disabled', true);

                    $("#ImagenCarga").removeClass("hidden");
                    $("#GrillaUsuario").addClass("hidden");
                    $("#MensajeError").addClass("hidden");
                    $("#MensajeErrorListar").addClass("hidden");
                    $("#MensajeVacio").addClass("hidden");

                    GrillaListadoUser();
                }

            } else {

                EstadoRegistro = '2';
                htmlBody = "<button class='btn-grid btn-xs BtnEditarClave' type='button' title='Editar'><i class='fa fa-lg fa-fw fa-edit'></i></button>" + " " +
                                "<button class='btn-grid btn-xs BtnReseteo' type='button' title='Resetear'><i class='fa fa-lg fa-fw fa-refresh'></i></button>";

                var valorAnalizar = $('#txtBuscarValor').val();
                if (ValidarCaracter(valorAnalizar) == true) {
                    toastr.options.timeOut = nTiempoLargo;
                    toastr.options.extendedTimeOut = nTiempoLargo;
                    /*success - info - warning - error*/
                    var $toast = toastr["error"](tCaracteresNoValido, tTituloError); $toastlast = $toast;
                } else {
                    $("#BtnExportarExcel").prop('disabled', true);
                    $("#btnBuscar").prop('disabled', true);
                    $("#btnNuevo").prop('disabled', true);
                    $("#RrbActivos").prop('disabled', true);
                    $("#RrbInactivos").prop('disabled', true);

                    $("#ImagenCarga").removeClass("hidden");
                    $("#GrillaUsuario").addClass("hidden");
                    $("#MensajeError").addClass("hidden");
                    $("#MensajeErrorListar").addClass("hidden");
                    $("#MensajeVacio").addClass("hidden");

                    GrillaListadoUser();
                }

            }
        });

        /*----------------------------------------------------------------------------------------------- METODOS INICIALES*/
        GrillaListadoUser();
    });

</script>